<!DOCTYPE html>
<html>
<head>
  <title>Back End Challenge</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
  <script src="application.js"></script>
</head>
</head>
<body>
  <div data-controller="counter">
	  <div>Back End Challenge</div>
	  <br>
	  <div id="body" class="hidden">
	  </div>
  </div>
</body>
</html>